.wy-nav-content {
	max-width: 80% !important;
}

.md-grid {
#max-width: initial !important;
max-width: initial ;
}

#[data-linenos]:before {
#content: attr(data-linenos);
#}

 
 
#.language-bash  {
#        font-size: 0.6rem !important;
#    }
 
pre[class*="language-"] {
#       font-size: 0.7rem !important;
       max-height: 32em !important; 
#       overflow: auto !important;
}

#pre[class*="language-"] {
#    padding: unset !important; 
#}

.md-clipboard {
  display: none !important;
}

.md-typeset pre>code {
#  display: inherit !important;
   overflow: unset !important;
   padding: unset !important;
}
